* {
    margin: 0;
    padding: 0;
   }
   body {
    font-family: "proxima-nova", sans-serif, Helvetica, arial, sans-serif;
    background-color: rgb(39, 41, 52);
   }
   a {
    text-decoration: none;
    font-size: 14px;
   }
   li {
    list-style: none;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkgray;
    font-size: 15px;
    height: 88px;
    padding: 1px;
}

.navbar-button {
    background-color: #3994FF;
    color: white;
    font-weight: bold;
    width: 60px;
    height: 35px;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.background-image {
    background-image: url("background-img.svg");
    width: 100%;
    height: 100%; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
}

.main-screen {
    margin: 5em;
    color: rgb(242, 244, 251);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.description {
    color: rgb(155, 157, 159);
    float: left;
}

.benefits {
    clear: both;
    padding-top: 5em;
    color: rgb(155, 157, 159);
    padding-bottom: 1%;
}

.container {
    margin-left: 10em;
   width: 100%;
}

.button-main-screen {
    display: flex;
    padding: 5px;
}

.add-button {
    border: 0px;
    background-color:#3994FF;
    color: white;
    width: 160px;
    height: 56px;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    margin-right: 17px;
}

.features-button {
    border: 0px;
    color: white;
    background-color: #52545D;
    width: 160px;
    height: 56px;
    border-radius: 8px;
    cursor: pointer;
}
